<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>
        ATM Simulation
    </title>
</head>
<body class="app-box bg-light">
<div class="d-flex justify-content-center h-100">
    <div class="card m-3 p-3 d-flex flex-column align-content-around w-50">
        <h2 class="mb-3">Home</h2>

        <h5 th:text="${'Hello, ' + currentAccount.getName()}"/>
        <h5 th:text=" ${'Balance : ' + currentAccount.getBalance()}"/>

        <div class="d-flex flex-row mt-5">
            <a class="btn btn-primary mr-2 mb-2" href="/withdraw">Withdraw</a>
            <a class="btn btn-primary mr-2 mb-2" href="/transfer">Transfer</a>
            <a class="btn btn-primary mr-2 mb-2" href="/transaction-history">Transaction History</a>
            <a class="btn btn-danger mb-2" href="/logout">Logout</a>
        </div>
    </div>

</div>
</body>
</html>