<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Withdraw Summary</title>
</head>
<body class="app-box bg-light">
<div class="d-flex justify-content-center">
    <div class="card m-3 p-3 d-flex flex-column align-content-around w-50">
        <h1>Withdraw Summary</h1>
        <ul>
            <li>
                <label>Date :&nbsp;</label>
                <p th:text="${date}"/>
            </li>
            <li>
                <label>Withdraw Amount :&nbsp;</label>
                <p th:text="${amount}"/>
            </li>
            <li>
                <label>Remaining Balance :&nbsp;</label>
                <p th:text="${customerBalance}"/>
            </li>
        </ul>

        <div class="d-flex flex-row-reverse mt-5">
            <ul class="list-group list-group-horizontal align-right">
                <li class="list-group-item"><a href="/">Home</a></li>
                <li class="list-group-item"><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>